
<div class="w-1/4"> 
    <label for="">chose day: </label>
    <input (change)="onChange($event)" type="date" class="bg-gray-50 border   text-gray-900 text-sm rounded-lg  w-full p-2.5">           
</div> 
<div *ngIf="lessons" class="grid mb-8 border border-gray-200 rounded-lg shadow-sm   md:mb-12 md:grid-cols-1">
    
    <h1 class="ml-4 mt-4">lessons of : {{util.dateFromDateObject(lessons[0].Date)}}     ({{util.getDay(lessons[0].day)}})</h1>
    <div *ngFor="let lesson of lessons" class="flex flex-row justify-between p-8 bg-white border-gray-200 rounded-b-lg border-b  ">
        <div class="  text-gray-500  ">
            <h3 class="text-lg font-semibold text-gray-900 ">{{lesson.firstName}} {{lesson.lastName}}</h3> <span>{{util.reshapeTime(lesson.appointment)}}</span>
            <p *ngIf="!lesson.paied">price: <input type="number" min="0" max="1000" value="{{lesson.price}}" id="{{lesson.lessonId}}" class="bg-gray-50 border   text-gray-900 text-sm rounded-lg  w-full p-2.5"> <button (click)="submitPrice($event)" id="{{lesson.lessonId}}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 my-2 rounded">submit</button></p>
            <p *ngIf="lesson.paied">price : {{lesson.price}} - paied</p>
            <p class="my-4">{{lesson.courseName}}</p>
        </div> 
        <div class=""> 
            <button   class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mx-2 rounded">
                manage
            </button>
        </div> 
    </div> 
</div>