<!--form add-->
<div id="hiddenForm" [ngClass]="hidden ? 'hidden' : '' " class="  w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] ">
      <div class="w-full md:w-1/2 m-auto  ">
          <!-- Modal content -->
          <div (click)="toggleClass()" class="font-bold cursor-pointer" >x</div>
          <div class=" bg-white rounded-lg shadow  "> 
              <div class="px-6 py-6 lg:px-8"> 
                  <h3 class="mb-4 text-xl font-medium text-gray-900 ">post information</h3>
                  <form [formGroup]="form" (ngSubmit)="createCourse(form)" class="space-y-6">
                      <div>
                          <label for="courseName" class="block mb-2 text-sm font-medium text-gray-900  ">course Name </label>
                          <input formControlName="courseName" type="text" name="courseName" id="courseName" class="bg-gray-50 border   text-gray-900 text-sm rounded-lg block w-full p-2.5"   required>
                          <div class="bg-red-100 border border-red-400 text-red-700 my-1 px-4 py-1 rounded " *ngIf="getFormControl['courseName'].errors && submited" >enter valid course Name</div>
                      </div>
                      <div *ngIf="levels">
                          <label for="levelId" class="block mb-2 text-sm font-medium text-gray-900  ">level Name</label>
                          <select formControlName="levelId" id="levelId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                            <option *ngFor="let level of levels" selected value="{{level.id}}">{{level.levelName}}</option>
                              
                          </select>
                          <div class="bg-red-100 border border-red-400 text-red-700 my-1 px-4 py-1 rounded " *ngIf="getFormControl['levelId'].errors && submited" >enter valid level Name</div>
                      </div>  
                      <button type="submit" class="  text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">add Course</button>
                  </form>
              </div>
          </div>
      </div>
</div>
<!--data-->
<div [ngClass]="!hidden ? 'hidden' : ''"  class="w-full m-auto p-10"> 
    <button (click)="toggleClass()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        add new course
    </button>
    <div *ngIf="message"   [ngClass]="typeMessage ? 'bg-'+typeMessage+'-100'+' ' :'' " class="  mt-2  border px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">{{message}}</strong> 
      </div> 
    <div *ngIf="courses" class=""> 
        <div *ngFor="let course of courses" class="my-5  m-1 bg-white border border-gray-200 rounded-lg shadow   "> 
            <div class="p-5 flex flex-row justify-between">
                <div class="text-2xl	">
                    {{course.courseName}}
                </div> 
                <div class="flex sm:flex-row flex-col flex-wrap ">
                    <span class=" inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mx-2 mb-2">{{course.levelName}}</span>
                    <span  (click)="navigate('lectures',course.id)" class="cursor-pointer inline-block bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-white  mx-2 mb-2">manage lectures</span>
                    <button (click)="deleteCourse( course.id )" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                        delete
                    </button> 
                </div> 
                
            </div>
        </div>
    </div>
</div>